
@font-face {
    font-family: NotoSansCJKjp-Medium;
    src: url(../fonts/NotoSansCJKjp-Medium.otf) format('truetype');
}

body {
	background: #f0f0f0;
    color: #2d2d2d;
    font-family: "NotoSansCJKjp-Medium";
    font-style: normal;
    font-weight: 400;
}

.container {
	margin: 50px auto;
	width: 700px;
	padding: 20px;
	border: 1px solid #000;
	background: #fbfbfb;
}